body {
    background-color: antiquewhite;
    text-align: center;
}

ul {
    padding: 0px;
}

.floater {
    font-family: "Righteous-Regular";
    font-size: 160px;
    position: absolute;
    text-align: center;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: -10%;
    left: 0;
    right: 0;
    animation: float 5s ease-in-out infinite;    
}

@font-face{
    font-family: "Righteous-Regular";
    src: url("../fonts/Righteous-Regular.ttf");
}

@keyframes float {
    0% {
        transform: translatey(0px);
        /*text-shadow: 2px 60px 50px rgba(0,0,0,0.8);*/
    }
    50% {
        transform: translatey(35px);
    }
    100% {
        transform: translatey(0px);
    }
}

/*
.grow { transition: all .2s ease-in-out; }
.grow:hover { transform: scale(1.1);}
*/

.links {
    position: fixed;
    margin-top: 15%;
    text-align: center;
    margin-left: 0;
    margin-right: 0;
    left: 0;
    right: 0;
}

.links i {
    color: black;
    position: relative;
}

.links a {
    text-decoration: none;
    padding-right: 20px;
    padding-left: 20px;
}

.arrow {
    position: absolute;
    bottom: 0;
    margin-left: 0;
    margin-right: 0;
    left: 0;
    right: 0;
}

.arrow i {
    color: black;
}

.arrow a {
    text-decoration: none;
}